html {
  font-size: 16px;
  font-family: sans-serif;
  font-family: Lato, helvetica, sans-serif;
  /* TODO - move to global style and get color from theme */
  color: #4d4d4d;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: inherit;
  transition: color 0.15s;
}

a:active,
a:hover {
  outline-width: 0;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

optgroup {
  font-weight: 700;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
